<!-- Spinner checking the flag variable -->
<app-spinner *ngIf="isLoading"></app-spinner>

<body class="landing-page sidebar-collapse">

  <!-- Adding the header -->
  <app-header></app-header>

  <!-- Section's title -->
  <div class="page-header header-filter" data-parallax="true"
    style="background-image: url('../assets/img/gaming-picture.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="title">Best's players clips from Riot Games</h1>
          <h4>Keep scrolling down to see many clips from many different players (from newbies to competitive players) in
            League of Legends. Keep in mind this is a demostration project, none of these buttons
            will work. If you want to contact me, follow me in social media or you can also see my profiles pages in the
            footer. Documentation about this app in GitHub. Welcome!</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="main main-raised">

    <div class="container">

      <!-- Adding Videos Cards -->
      <app-videos-container></app-videos-container>

      <!-- Adding Players Cards -->
      <app-players-container></app-players-container>

      <!-- Email template starts here -->

      <div class="section section-contacts">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center title">Support me!</h2>
            <h4 class="text-center description">If you have some extra features in mind that I can implement, just let
              me know right below so I will incorporate each one of them.</h4>
            <form class="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Your Name</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Your Email</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
                <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
              </div>
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto text-center">
                  <button disabled class="btn btn-dark btn-raised">
                    Send message - Disabled
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Email template ends here -->

  </div>

  <!-- Adding the footer -->
  <app-footer></app-footer>

</body>
