<app-spinner *ngIf="isLoading"></app-spinner>

<body class="landing-page sidebar-collapse">

  <app-header></app-header>

  <div class="page-header header-filter" data-parallax="true"
    style="background-image: url('../assets/img/gaming-picture.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="title">Best's players clips from Riot Games</h1>
          <h4>Keep scrolling down to see many clips from many different players (from newbies players to proffesional
            competitive tournaments) in Riot Games, you can also send me your videos and I will upload them. Also keep
            in
            mind this is a custom project, and no one can make use of this without my authorization.</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="main main-raised">

    <div class="container">
      <app-videos-container></app-videos-container>
    </div>

  </div>

  <app-footer></app-footer>

</body>
