<footer class="footer footer-default">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://torre.co/en/anthony082008" target="_blank">
            Torre
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/anthony-acosta-25b2241aa/" target="_blank">
            LinkedIn
          </a>
        </li>
        <li>
          <a href="https://api.whatsapp.com/send?phone=+573016602669" target="_blank">
            WhatsApp
          </a>
        </li>
      </ul>
    </nav>

    <div class="copyright float-right">
      Anthony Acosta Montes, 2021 &copy;. Demostration only. See the full code in <a
        href="https://github.com/874anthony/anthony-blog" target="_blank">GitHub.</a>
    </div>
  </div>
</footer>
