<div class="section text-center">
  <h2 class="title">Here are some of the best players.</h2>
  <div class="team">
    <div class="row">

      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="../../../assets/img/jankos.jpg" rel="nofollow" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Jankos</h4>
            <h6 class="card-subtitle mb-2 text-muted">Jungler</h6>
            <p class="card-text">Jankos plays for G2 Esports team, they have lost to SKT T1 multiple times in their
              way to reach a championship.</p>
            <a target="_blank" href="https://www.twitch.tv/jankos" class="btn btn-link btn-just-icon"><i
                class="fa fa-twitch"></i></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCuIBqCNr-kQwalr5BjsFT6Q"
              class="btn btn-link btn-just-icon"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="../../../assets/img/faker.jpeg" rel="nofollow" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Faker</h4>
            <h6 class="card-subtitle mb-2 text-muted">Midlaner</h6>
            <p class="card-text">Faker is the midlaner from SKT, playing since his 17, he has won 3 World Cup. Playing
              alongside the likes of MaRiN.</p>
            <a target="_blank" href="https://www.twitch.tv/faker" class="btn btn-link btn-just-icon"><i
                class="fa fa-twitch"></i></a>
            <a target="_blank" href="https://www.youtube.com/user/SKTTeam1st" class="btn btn-link btn-just-icon"><i
                class="fa fa-youtube"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="../../../assets/img/teddy.jpeg" rel="nofollow" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Teddy</h4>
            <h6 class="card-subtitle mb-2 text-muted">AD Carry</h6>
            <p class="card-text">Teddy is the ADC from SKT, playing since last season. He won the MVP of LCK.</p>
            <a target="_blank" href="https://www.twitch.tv/t1_teddy" class="btn btn-link btn-just-icon"><i
                class="fa fa-twitch"></i></a>
            <a target="_blank" href="https://www.youtube.com/user/SKTTeam1st" class="btn btn-link btn-just-icon"><i
                class="fa fa-youtube"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
