<div class="section text-center">
  <div class="row">
    <div class="col-md-8 ml-auto mr-auto">
      <h2 class="title">These are the most featured clips from last week.</h2>
      <h5 class="description">These are the most rated clips of League of Legends.</h5>
    </div>
  </div>

  <div>
    <div class="row">
      <div class="col-md-4">
        <app-video-card [videoLink]='"https://www.youtube.com/embed/MefquNL1XT8"'></app-video-card>
      </div>
      <div class="col-md-4">
        <app-video-card [videoLink]='"https://www.youtube.com/embed/s1129xVHRkU"'></app-video-card>
      </div>
      <div class="col-md-4">
        <app-video-card [videoLink]='"https://www.youtube.com/embed/xMDrYwXgPyo"'></app-video-card>
      </div>
    </div>
  </div>
</div>
