<div class="section text-center">
  <div class="row">
    <div class="col-md-8 ml-auto mr-auto">
      <h2 class="title">These are the most features clips from last week.</h2>
      <h5 class="description">You can also apply a filter so you can really decide which videos you want to see.</h5>
    </div>
  </div>


  <div>
    <div class="row">
      <div class="col-md-4">
        <app-video-card></app-video-card>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</div>
